{{#if messages}}
    {{#messages}}
    <p>{{{ this }}}</p>
    {{/messages}}
{{/if}}

{{#if services}}
  {{ services }}
<img src="images/preloader.gif" id="rti-load" class="preloader" width="15" height="15">
<table id="train-rti">
    <tbody>
    {{#each services}}
    <tr>
        {{#if this.departure}}
            {{#if delayed}}
            <td class="service-std delayed">{{ etd }}</td>
            {{else}}
            <td class="service-std">{{ this.departure }}</td>
            {{/if}}
        {{/if}}
        {{#if this.arrival}}
            {{#if delayed}}
            <td class="service-sta delayed">{{ eta }}</td>
            {{else}}
            <td class="service-sta">{{ this.arrival }}</td>
            {{/if}}
        {{/if}}
        <td class="service-destination" colspan="2">{{ this.to }}</td>
        <td class="service-platform">{{#if this.platform}}Plat. {{ this.platform }}{{/if}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>
{{#if lastUpdatedFormatted}}
<div class="last-updated">updated: {{ lastUpdatedFormatted }}</div>
{{/if}}
{{/if}}
